# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db
*.db-shm
*.opendb
*.db-shm
*.tlog
*.tlog
*.recipe
*.idb
*.pdb
*.ilk
*.ilk
*.log
*.ipch
*.opendb
*.db
Algorithms_DataStructures_Repository/.vs/Algorithms_DataStructures_Repository/v16/.suo
Algorithms_DataStructures_Repository/.vs/Algorithms_DataStructures_Repository/v16/Browse.VC.db
Algorithms_DataStructures_Repository/.vs/Algorithms_DataStructures_Repository/v16/Browse.VC.db-shm
Algorithms_DataStructures_Repository/.vs/Algorithms_DataStructures_Repository/v16/Browse.VC.opendb
Algorithms_DataStructures_Repository/.vs/Algorithms_DataStructures_Repository/v16/Solution.VC.db-shm
